## data understanding

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("heart_attack_prediction_indonesia.csv")

### Informasi Dataset

In [2]:
print("Ukuran dataset:", df.shape)
print("\nTipe data tiap kolom:")
print(df.dtypes)

Ukuran dataset: (158355, 28)

Tipe data tiap kolom:
age                                 int64
gender                             object
region                             object
income_level                       object
hypertension                        int64
diabetes                            int64
cholesterol_level                   int64
obesity                             int64
waist_circumference                 int64
family_history                      int64
smoking_status                     object
alcohol_consumption                object
physical_activity                  object
dietary_habits                     object
air_pollution_exposure             object
stress_level                       object
sleep_hours                       float64
blood_pressure_systolic             int64
blood_pressure_diastolic            int64
fasting_blood_sugar                 int64
cholesterol_hdl                     int64
cholesterol_ldl                     int64
triglycerides                       int64
EKG_results                        object
previous_heart_disease              int64
medication_usage                    int64
participated_in_free_screening      int64
heart_attack                        int64
dtype: object

### Statistik Deskriptif

In [3]:
print("\nStatistik deskriptif:")
print(df.describe(include="all"))

Statistik deskriptif:
                  age  gender  region income_level   hypertension  \
count   158355.000000  158355  158355       158355  158355.000000
unique            NaN       2       2            3            NaN
top               NaN    Male   Urban       Middle            NaN
freq              NaN   82243  103038        71230            NaN
mean        54.543778     NaN     NaN          NaN       0.299069
std         11.910897     NaN     NaN          NaN       0.457851
min         25.000000     NaN     NaN          NaN       0.000000
25%         46.000000     NaN     NaN          NaN       0.000000
50%         55.000000     NaN     NaN          NaN       0.000000
75%         63.000000     NaN     NaN          NaN       1.000000
max         90.000000     NaN     NaN          NaN       1.000000

             diabetes  cholesterol_level        obesity  waist_circumference  \
count   158355.000000      158355.000000  158355.000000        158355.000000
unique            NaN                NaN            NaN                  NaN
top               NaN                NaN            NaN                  NaN
freq              NaN                NaN            NaN                  NaN
mean         0.199804         199.533264       0.249901            93.268504
std          0.399854          39.737565       0.432957            16.382205
min          0.000000         100.000000       0.000000            20.000000
25%          0.000000         172.000000       0.000000            82.000000
50%          0.000000         199.000000       0.000000            93.000000
75%          0.000000         226.000000       0.000000           104.000000
max          1.000000         350.000000       1.000000           173.000000

        family_history  ... blood_pressure_diastolic fasting_blood_sugar  \
count    158355.000000  ...            158355.000000       158355.000000
unique             NaN  ...                      NaN                 NaN
top                NaN  ...                      NaN                 NaN
freq               NaN  ...                      NaN                 NaN
mean          0.300218  ...                79.490809          110.736762
std           0.458354  ...                10.002964           27.673445
min           0.000000  ...                37.000000           70.000000
25%           0.000000  ...                73.000000           89.000000
50%           0.000000  ...                80.000000          109.000000
75%           1.000000  ...                86.000000          130.000000
max           1.000000  ...               127.000000          230.000000

       cholesterol_hdl cholesterol_ldl  triglycerides EKG_results  \
count    158355.000000   158355.000000  158355.000000      158355
unique             NaN             NaN            NaN           2
top                NaN             NaN            NaN      Normal
freq               NaN             NaN            NaN      126914
mean         49.491478      129.569916     149.715885         NaN
std           9.982634       34.913318      49.023473         NaN
min           8.000000      -19.000000      50.000000         NaN
25%          43.000000      106.000000     116.000000         NaN
50%          49.000000      130.000000     149.000000         NaN
75%          56.000000      153.000000     183.000000         NaN
max          93.000000      282.000000     380.000000         NaN

        previous_heart_disease  medication_usage  \
count            158355.000000     158355.000000
unique                     NaN               NaN
top                        NaN               NaN
freq                       NaN               NaN
mean                  0.200575          0.499770
std                   0.400432          0.500002
min                   0.000000          0.000000
25%                   0.000000          0.000000
50%                   0.000000          0.000000
75%                   0.000000          1.000000
max                   1.000000          1.000000

        participated_in_free_screening   heart_attack
count                    158355.000000  158355.000000
unique                             NaN            NaN
top                                NaN            NaN
freq                               NaN            NaN
mean                          0.601029       0.401004
std                           0.489688       0.490103
min                           0.000000       0.000000
25%                           0.000000       0.000000
50%                           1.000000       0.000000
75%                           1.000000       1.000000
max                           1.000000       1.000000

[11 rows x 28 columns]

### Mengecek Missing Values

In [4]:
print("\nJumlah missing values tiap kolom:")
print(df.isnull().sum())

Jumlah missing values tiap kolom:
age                                   0
gender                                0
region                                0
income_level                          0
hypertension                          0
diabetes                              0
cholesterol_level                     0
obesity                               0
waist_circumference                   0
family_history                        0
smoking_status                        0
alcohol_consumption               94848
physical_activity                     0
dietary_habits                        0
air_pollution_exposure                0
stress_level                          0
sleep_hours                           0
blood_pressure_systolic               0
blood_pressure_diastolic              0
fasting_blood_sugar                   0
cholesterol_hdl                       0
cholesterol_ldl                       0
triglycerides                         0
EKG_results                           0
previous_heart_disease                0
medication_usage                      0
participated_in_free_screening        0
heart_attack                          0
dtype: int64

### data duplikat

In [7]:
df.duplicated().sum()

np.int64(0)